.edit {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
  }

  .delete {
    padding: 10px 20px;
    background-color: rgb(245, 49, 49);
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
  }


  .add {
    padding: 10px 20px;
    background-color: dodgerblue;
    border: 1px solid #ddd;
    color: white;
    cursor: pointer;
  }